{% extends "home.html" %}

{% block content %}
<h1>меню __</h1>
{% endblock %}

{% block rsaidber %}

{% for info in info %}
	<h3>{{ info.name }}</h3>
	<p>{{ info.main_text|linebreaksbr }}</p>
	<address>{{ info.text }}</address>
{% endfor %}

{% endblock %}

{% block lsaidber %}

{% for blog in blog %}
	<a href="/blog/{{ blog.id }}">
		<div class="text_content">
			<h2>{{ blog.name_blog }}</h2>
			<p>{{ blog.text_blog|linebreaksbr }}</p>
			<address>{{ blog.time }}</address>
			<form action="{% url 'like_blog' blog.pk %}" method="POST">
				{% csrf_token %}
				<button type="submit" name="blog_id" value="{{ blog.id }}">like: {{ blog.like }}</button>
			</form>
		</div>
	</a>	
{% endfor %}

{% endblock %}

