{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
	<div class="header">
		{% block content %}
		{% endblock %}
	</div>

	<div class="lsaiber">
		<p><a href="">link</a></p>
		<p><a href="">link</a></p>
		<p><a href="">kink</a></p>
		<p><a href="">link</a></p>
	</div>

	<div class="rsaiber">
		{% block rsaidber %}{% endblock %}
	</div>

	<div class="content">
		{% block lsaidber %}{% endblock %}
	</div>

	<footer class="footer"><address>футер</address></footer>

</body>
<script type="text/javascript">
	let cords = ['scrollX','scrollY'];
	// Перед закрытием записываем в локалсторадж window.scrollX и window.scrollY как scrollX и scrollY
	window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
	// Прокручиваем страницу к scrollX и scrollY из localStorage (либо 0,0 если там еще ничего нет)
	window.scroll(...cords.map(cord => localStorage[cord]));
</script>
</html>